
.card {
  background: #ffffff;
  border-radius: 15px;
  margin-top: 100px;
}

input, textarea {
  border-radius: 10px !important;
}

button {
  border-radius: 10px !important;
}

h2, h4 {
  letter-spacing: 0.5px;
}
